.container {
    text-align:center;
    input {
	width:200px;
	height:30px;
	margin:5px;
    }
}
.albums {
    display:inline-block;

    .album {
	background:pink;
	margin:5px;
	width:100px;
	padding:1px;
	float:left;
	overflow:hidden;
	position:relative;
	img {
	    width:100%;
	}
	.text {
	    font-size:10px;
	    height:30px;
	    overflow:hidden;
	    position:relative;
	}
    }
}

